@model recipes_webapp.Models.ViewModels.Dishes.DishesVM

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/StyleSheets/Recipes/DetailsCSS.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


<link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Amaranth:ital@1&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Magra&display=swap" rel="stylesheet">
<script>

    function change_color(class1, class2) {
        $("#heart").removeClass(class1 + " fa-heart");
        $("#heart").addClass(class2 + " fa-heart");
    }

</script>

<div id="details-main-container">
    <div id="details-lefttop-box" class="cards">
        <div id="lefttop-basic-text-information-box">
            <div id="path-box" class="text-information-box">
                <p>
                    jesteś w: &nbsp;
                    <a class="path-text" href="#">przepisy</a> &nbsp;
                    <i class="fas fa-caret-right" style="font-size: 70%;"></i> &nbsp;
                    <a class="path-text" href="#">@TempData["categoryName"]</a> &nbsp;
                    <i style="font-size: 70%;" class="fas fa-caret-right"></i> &nbsp;
                    <a class="path-text" href="#">@Model.Name</a>
                </p>
            </div>
            <div id="author-box" class="text-information-box"><p><a href="#" id="author-box-link">Tomasz Nowak</a></p></div>
            <div id="title-box" class="text-information-box"><p>@Model.Name</p></div>
            <div id="description-box" class="text-information-box"><p>@Model.Description</p></div>
        </div>

        <div id="lefttop-basic-icon-information-box">
            <div id="level-icon-box" class="icon-box">
                <div class="icon-box-top">
                    <i class="glyphicon glyphicon-stats icon"></i>
                </div>
                <div class="icon-box-bottom">
                    @if (Convert.ToInt32(Html.DisplayFor(model => model.Level).ToString()) == 1)
                    {<a>łatwy poziom</a> }
                    else if (Convert.ToInt32(Html.DisplayFor(model => model.Level).ToString()) == 2)
                    { <a>średni poziom</a> }
                    else if (Convert.ToInt32(Html.DisplayFor(model => model.Level).ToString()) == 3)
                    { <a>trudny poziom</a>}
                </div>
            </div>
            <div id="servings-icon-box" class="icon-box">
                <div class="icon-box-top"> <i class="glyphicon glyphicon-cutlery icon"></i>   </div>
                <div class="icon-box-bottom"> <a class="">@Html.DisplayFor(model => model.Servings) porcji</a>  </div>
            </div>
            <div id="time-icon-icon-box" class="icon-box">
                <div class="icon-box-top"> <i class="far fa-clock icon"></i>   </div>
                <div class="icon-box-bottom"> <a class="">@Html.DisplayFor(model => model.Time) min</a> </div>
            </div>
            <div id="following-icon-box" class="icon-box">
                <div class="icon-box-top"> <i class="glyphicon glyphicon-thumbs-up icon"></i>   </div>
                <div class="icon-box-bottom"> <a class="">@Html.DisplayFor(model => model.Rating) polubień</a> </div>
            </div>
        </div>
    </div>
    <div id="details-righttop-box" class="cards">
        @Html.Action("PhotoSlider", "Recipes", new { id = Model.Id_Dish })
    </div>
    <div id="details-leftbottom-box" class="cards">
        @Html.Action("Ingredients", "Recipes", new { id = Model.Id_Ingredient })
    </div>
    <div id="details-rightbottom-box" class="cards">
        @Html.Action("Directions", "Recipes", new { id = Model.Id_Direction })
    </div>
</div>