@model recipes_webapp.Models.ViewModels.Dishes.DishesVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DishesVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Direction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Direction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Ingredient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Ingredient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Gallery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Gallery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Added)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Directions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Directions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gallery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Dish }) |
    @Html.ActionLink("Back to List", "Index")
</p>
