@model recipes_webapp.Models.ViewModels.Dishes.DirectionsVM
<link href="~/Content/StyleSheets/Recipes/DirectionsCSS.css" rel="stylesheet" />


<div id="directions-title">Sposób przygotowania potrawy: </div>

<div id="directons-steps-box">
    @if (Model.Step_1_Content != "")
    {
        <div class="directions-single-step-box">
            <b class="directions-step-title">
                KROK 1
            </b>
            <div class="directions-step-content">
                @Html.DisplayFor(model => model.Step_1_Content)
            </div>
        </div>
    }
    @if (Model.Step_2_Content != "")
    {
        <div class="directions-single-step-box">
            <b class="directions-step-title">
                KROK 2
            </b>
            <div class="directions-step-content">
                @Html.DisplayFor(model => model.Step_2_Content)
            </div>
        </div>
    }

    @if (Model.Step_3_Content != "")
    {

        <div class="directions-single-step-box">
            <b class="directions-step-title">
                KROK 3
            </b>
            <div class="directions-step-content">
                @Html.DisplayFor(model => model.Step_3_Content)
            </div>
        </div>
    }

    @if (Model.Step_4_Content != "")
    {

        <div class="directions-single-step-box">
            <b class="directions-step-title">
                KROK 4
            </b>
            <div class="directions-step-content">
                @Html.DisplayFor(model => model.Step_4_Content)
            </div>
        </div>
    }

    @if (Model.Step_5_Content != "")
    {

        <div class="directions-single-step-box">
            <b class="directions-step-title">
                KROK 5
            </b>
            <div class="directions-step-content">
                @Html.DisplayFor(model => model.Step_5_Content)
            </div>
        </div>
    }

    @if (Model.Step_6_Content != "")
    {

        <div class="directions-single-step-box">
            <b class="directions-step-title">
                KROK 6
            </b>
            <div class="directions-step-content">
                @Html.DisplayFor(model => model.Step_6_Content)
            </div>
        </div>
    }

    @if (Model.Step_7_Content != "")
    {

        <div class="directions-single-step-box">
            <b class="directions-step-title">
                KROK 7
            </b>
            <div class="directions-step-content">
                @Html.DisplayFor(model => model.Step_7_Content)
            </div>
        </div>
    }

    @if (Model.Step_8_Content != "")
    {

        <div class="directions-single-step-box">
            <b class="directions-step-title">
                KROK 8
            </b>
            <div class="directions-step-content">
                @Html.DisplayFor(model => model.Step_8_Content)
            </div>
        </div>
    }

    @if (Model.Step_9_Content != "")
    {

        <div class="directions-single-step-box">
            <b class="directions-step-title">
                KROK 9
            </b>
            <div class="directions-step-content">
                @Html.DisplayFor(model => model.Step_9_Content)
            </div>
        </div>
    }

    @if (Model.Step_10_Content != "")
    {

        <div class="directions-single-step-box">
            <b class="directions-step-title">
                KROK 10
            </b>
            <div class="directions-step-content">
                @Html.DisplayFor(model => model.Step_10_Content)
            </div>
        </div>
    }

</div>
