@model IEnumerable<recipes_webapp.Models.ViewModels.Dishes.DishesVM>

@{
    ViewBag.Title = "Index";
}

<input type="text" id="search" placeholder="search" />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Added)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr-table">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Added)
            </td>
        </tr>
    }
</table>


@section scripts{

    <script>
        $(document).ready(function () {
         
            $("#search").keyup(function () {
                var searchText = $(this).val();

                $(".tr-table").each(function () {

                    if ($(this).text().search(new RegExp(searchText, "i")) < 0) {
                        $(this).fadeOut();
                    } else {
                        $(this).show();
                    }

                });
            });
        });
    </script>


}
