@model recipes_webapp.Models.ViewModels.Dishes.IngredientsVM
<link href="~/Content/StyleSheets/Recipes/IngredientsCSS.css" rel="stylesheet" />

<div id="header-text">LISTA SKŁADNIKÓW </div>

<div id="ingredients-list">

    @if (Model.Ingredient_1 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_1) </p>
    }

    @if (Model.Ingredient_2 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_2) </p>
    }

    @if (Model.Ingredient_3 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_3) </p>
    }
     
    @if (Model.Ingredient_4 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_4) </p>
    }

    @if (Model.Ingredient_5 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_5) </p>
    }

    @if (Model.Ingredient_6 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_6) </p>
    }

    @if (Model.Ingredient_7 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_7) </p>
    }

    @if (Model.Ingredient_8 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_8) </p>
    }

    @if (Model.Ingredient_9 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_9) </p>
    }

    @if (Model.Ingredient_10 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_10) </p>
    }

    @if (Model.Ingredient_11 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_11) </p>
    }

    @if (Model.Ingredient_12 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_12) </p>
    }

    @if (Model.Ingredient_13 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_13) </p>
    }

    @if (Model.Ingredient_14 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_14) </p>
    }

    @if (Model.Ingredient_15 != null)
    {
        <p> + @Html.DisplayFor(model => model.Ingredient_15) </p>
    }


    <div id="download-list">
        <a href="#"> pobierz listę *PDF </a>
    </div>
</div>

