@model recipes_webapp.Models.ViewModels.Account.UsersVM
<link href="~/Content/StyleSheets/Account/ChangePasswordCSS.css" rel="stylesheet" />

@using (Html.BeginForm("ChangePassword", "Account"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id_User)

<div id="changepassword-box">
    <p class="password-top-information"> USTAW SWOJE NOWE HASŁO </p>
    <div class="new-password first-div">
        <a class="new-password-tex">potwierdź swoje hasło</a>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @class = "password-text-editor", @Value = "***", @Title = "Podaj swoje obecne hasło.", autocomplete = "off" } })
    </div>
    <div class="new-password">
        <a class="new-password-tex">podaj nowe hasło</a>
        @Html.EditorFor(model => model.Repeat_Password, new { htmlAttributes = new { @type = "password", @class = "password-text-editor", @Value = "***", @Title = "Nowe hasło musi składać się z conajmniej 8 znaków.", autocomplete = "off" } })
    </div>

    <div class="change-warning-information warning"> @TempData["Password_Warning"] </div>
    <div class="change-warning-information success"> @TempData["Password_Success"] </div>

    <button type="submit" class="password-change-button">ZATWIERDŹ ZMIANĘ</button>
</div>

}
