@model recipes_webapp.Models.ViewModels.Account.UsersVM
<link href="~/Content/StyleSheets/Account/CreateNew.css" rel="stylesheet" />

@{
    ViewBag.Title = "CreateNew";
}

<div id="register-form">

    <p id="register-form-title">UTWÓRZ NOWE KONTO</p>

    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @placeholder = " nazwa użytkownika - twój podpis", @class = "register-name-editor editor" } })
        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @placeholder = " login - będzie potrzebny do logowania", @class = "register-login-editor editor" } })
        @Html.PasswordFor(model => model.Password, new { @placeholder = " hasło", @class = "register-password-editor editor" })
        @Html.PasswordFor(model => model.Repeat_Password, new { @placeholder = " powtórz hasło", @class = "register-repeat-password-editor editor" })
        <button class="register-btn-login">ZAREJESTRUJ SIĘ</button>


        <div id="register-warning-information"> @TempData["Warning"] </div>

    }

    <a href="~/Account/Login"><div href="~/Account/CreateNew" class="register-btn-register">MAM JUŻ KONTO</div></a>

</div>