@model IEnumerable<recipes_webapp.Models.ViewModels.Dishes.DishesVM>

<link href="~/Content/StyleSheets/Categories/BestRatingCSS.css" rel="stylesheet" />
<link href="~/Content/StyleSheets/Account/MyFollowingRecipesCSS.css" rel="stylesheet" />

<div id="rating">

    <a class="box1-toptext">LISTA PRZEPISÓW DODANYCH PRZEZ CIEBIE</a>
    <div class="box1-options">
        <a>dodaj następny przepis</a>
    </div>

    <ul id="rating-list">
        @foreach (var item in Model.OrderBy(x => x.Description))
        {
            <li class="rating-recipe">
                <a href="@Url.Action("Details", "Recipes", new { id = item.Id_Dish})">
                    <div class="rating-recipe-photo">
                        <img src="~/Content/Images/img1.jpg" />
                    </div>
                </a>
                <div class="rating-recipe-information">


                    <div class="rating-icons"> <i class="far fa-heart"></i> 	&nbsp; @Html.DisplayFor(modelItem => item.Rating) </div>
                    <div class="rating-icons">  <i class="glyphicon glyphicon-cutlery"></i> 	&nbsp; @Html.DisplayFor(modelItem => item.Servings) </div>
                    <div class="rating-icons">  <i class="far fa-clock"></i> &nbsp; @Html.DisplayFor(modelItem => item.Time) </div>
                    <div class="rating-icons-last ">
                        <i class="glyphicon glyphicon-stats"></i> &nbsp;
                        @if (Convert.ToInt32(Html.DisplayFor(modelItem => item.Level).ToString()) == 1)
                        {
                            <a>łatwy</a>
                        }
                        else if (Convert.ToInt32(Html.DisplayFor(modelItem => item.Level).ToString()) == 2)
                        {
                            <a>średni</a>
                        }
                        else if (Convert.ToInt32(Html.DisplayFor(modelItem => item.Level).ToString()) == 3)
                        {
                            <a>trudny</a>
                        }
                    </div>
                </div>
                <div class="rating-recipe-text">
                    <div class="rating-text-author"><b>Tomasz Nowak</b></div>
                    <div class="rating-text-title"><b>@Html.DisplayFor(modelItem => item.Name)</b></div>
                    <div class="rating-text-content"><i>@Html.DisplayFor(modelItem => item.Description)</i></div>
                </div>
            </li>


        }
    </ul>
</div>




