@model IEnumerable<recipes_webapp.Models.ViewModels.Dishes.DishesVM>
    <link href="~/Content/StyleSheets/Account/MyFollowingRecipesCSS.css" rel="stylesheet" />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Direction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Ingredient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Gallery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Added)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Directions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gallery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Direction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Ingredient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Gallery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Added)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Directions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gallery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Dish }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Dish }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Dish })
        </td>
    </tr>
}

</table>
