@model recipes_webapp.Models.ViewModels.Articles.ArticlesVM
    <link href="~/Content/StyleSheets/Articles/DetailsCSS.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArticlesVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Added)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img_Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img_Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Article }) |
    @Html.ActionLink("Back to List", "Index")
</p>
