@model recipes_webapp.Models.ViewModels.Articles.ArticlesVM
<link href="~/Content/StyleSheets/Articles/DetailsCSS.css" rel="stylesheet" />

@{
    ViewBag.Title = "Details";
}

<div id="article-details-main-box">

    <div id="article-details-top-nav-button">
        <div id="back-to-list-text">
            <i style=" font-size: 80%;" class="fas fa-caret-left"></i>
            &nbsp; <a href="@Url.Action("Index", "Articles", new { filter = "all" })">wróc do listy naszych artykułów</a>
        </div>
        <div id="next-article">
            <a href="@Url.Action("Index", "Articles", new { filter = "all" })">następny artykuł</a> &nbsp;
            <i style=" font-size: 80%;" class="fas fa-caret-right"></i>
        </div>

    </div>

    <div id="article-details-title">
        <p>@Model.Title</p>
    </div>

    <div id="article-details-photo">
        <img src="~/Content/Images/1.jpg" />
    </div>

    <div id="article-details-information">
        <div id="article-details-information-author">
            <a href="#">Tomasz Nowak</a>
        </div>
        <div id="article-details-information-date-rating">
            <a>@Model.Date_Added.ToString("dd.MM.yyyy") &nbsp;  &nbsp; </a>
            <a>@Model.Rating <i class="fa fa-heart" aria-hidden="true"></i></a>
        </div>
    </div>

    <div id="article-details-content">
        <p>@Model.Content</p>
    </div>

</div>