@model IEnumerable<recipes_webapp.Models.ViewModels.Articles.ArticlesVM>
<link href="~/Content/StyleSheets/Articles/IndexCSS.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<div id="articles-list-box">

    <div id="top-mot-box">
        <p id="mot-text1">Nigdy mało dobrej wiedzy!</p>
        <p id="mot-text2">odwiedź najciekawsze artykuły o kuchni świata</p>
    </div>

    <div id="art-button">
        <a href="~/Articles/Index/?filter=najlepsze">NAJLEPSZE @TempData["a"]</a>
        <a href="~/Articles/Index/?filter=najnowsze">NAJNOWSZE</a>
        <a href="~/Articles/Index/?filter=najstarsze">NAJSTARSZE</a>
    </div>

    <div id="art-list-ul">
        <ul>
            @foreach (var item in Model)
            {
                <li class="next-art">
                    <a href="@Url.Action("Details", "Articles", new { id = item.Id_Article})">
                        <div class="art-photo">
                            <img class="artimg1" src="~/Content/Images/img5.jpg" />
                            <div class="dataadded">
                                <p>kliknij tutaj żeby przeczytać</p>
                                <br /><br />
                                <p>@item.Date_Added.ToString("dd/MM/yyyy") | @item.Rating <i style="font-size:80%" class="fa fa-heart" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </a>
                    <div class="art-title">
                        <p>  @item.Title.ToUpper() </p>
                    </div>
                </li>
            }
        </ul>
    </div>


</div>