
@model IEnumerable<recipes_webapp.Models.ViewModels.Dishes.DishesVM>

<link href="~/Content/StyleSheets/Articles/BestArticlesPartialCSS.css" rel="stylesheet" />

<div id="rating">
    <ul id="rating-list">
        @foreach (var item in Model)
        {
            <li class="rating-single-recipe rating-hover">
                <a href="@Url.Action("Details", "Recipes", new { id = item.Id_Dish})">
                    <div class="recipe-article-photo">
                        <img class="rating-photo" src="/Content/Images/Uploads/Recipes/@item.Id_Dish/Gallery/@item.MyGallery.ElementAt(0)" />
                        <div class="information-about">
                            <p>kliknij tutaj żeby zobaczyć szczegóły</p>
                            <br /><br />
                            <p><i class="far fa-clock"></i> &nbsp; @item.Time min</p>
                            <p><i class="fas fa-utensils"></i> &nbsp; @item.Servings porcji<i aria-hidden="true"></i></p>
                            <p><i style="font-size:80%"></i> &nbsp; @item.Rating obserwacji</p>
                            <p><i class="far fa-chart-bar"></i> &nbsp; łatwy poziom<i aria-hidden="true"></i></p>
                        </div>
                    </div>
                    <div class="rating-title">
                        <p>  @item.Name.ToUpper() </p>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>

