@model IEnumerable<recipes_webapp.Models.ViewModels.Dishes.CategoriesVM>

@{
    ViewBag.Title = "Wyszukaj najlepszy przepis!";
}
<link href="~/Content/StyleSheets/Categories/IndexCSS.css" rel="stylesheet" />


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div id="index-body">

    <div id="text-before-search">
        @if (TempData["categoryName"].ToString() == "all")
        {
            <p>Wyszukaj najlepszy przepis!</p>
        }
        else
        {
            <p>@TempData["categoryName"]</p>
        }
    </div>

    @Html.Action("Recipes", "Categories", new { name = TempData["categoryName"] })

    <div id="menu-box">
        <div id="heading">
            <b>KATEGORIE</b>
        </div>
        <table class="table">
            <tr>
                <td class="category">
                    <a href="@Url.Action("Index", "Categories", new { categoryName = ""})"> Wszystkie kategorie </a><i class="fas fa-caret-right"></i>
                </td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="category">
                        <a href="@Url.Action("Index", "Categories", new { categoryName = item.Name, flag = true })">@Html.DisplayFor(modelItem => item.Name) </a><i class="fas fa-caret-right"></i>
                    </td>
                </tr>
            }
        </table>
    </div>


    @Html.Action("BestRating", "Categories", new { name = TempData["categoryName"], userId = 0 })
</div>
